#!/usr/bin/make -f
LDFLAGS += -lpthread

%:
	dh $@ --parallel

override_dh_clean:
	dh_clean
	rm -fr test/Makefile

override_dh_auto_configure:
	LD_FLAGS="$(LD_FLAGS)" dh_auto_configure -- --with-xmlrpc-c --enable-ipv6
